---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">

		<h1 class="text-white">Hey, soy tatudev <Badge>Disponible para trabajar</Badge></h1>
		<h2>Estudiante de desarrollo de aplicaciones web. De Barcelona, España.</h2>

		<ul></ul>
	</section>		
	</main>
</Layout>


