---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
    {
       date: "Actualmente... - Cidead",
       title: "Estudiando FP de Desarrollo de Aplicaciones Web.",
       description:"Actualmente estudiando dicho Fp el cual estoy aprendiendo diversos lenguajes como HTML, CSS, SQL, JavaScript entre otros.",
    },
    {
        date:"Abril-Junio 2023",
        title:"Estudie un curso de Iniciaci칩n a la Programaci칩n Web",
        description:"En dicho curso nos ense침ador HTML, CSS, JavaScript y React, para finalizar el curso tuvimos que realizar una aplicaci칩n web con React con la API de Marvel.",
    },
]
---
<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCIE.map (experiencie => ( 
        <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
        </li>    
            )) 
    }                 
   
</ol>