<header class="flex justify-between">
<img src="C:\Users\raulm\OneDrive\Escritorio\porfolio-dev\public\jerez.jpg" alt="tatudev photo" />

<nav>
   <a href="/">Home</a>
   <a href="/about">About</a> 
   <a href="/projects">Projects</a>
   <a href="/contact">Contact</a> 
</nav>
</header>